<!DOCTYPE html>
<html>
<head>
	<h1><center>My Details</center></h1>
	<title>view</title>
	<link type="text/css" rel="stylesheet" href="/css/st.css">
	<style type="text/css">
		body{
			background-image: url("/images/vpic.jpg");
			height: 557px;
			background-size: cover;
		}
		table{
			border-collapse: collapse;
			width: 100%;
			color: #FDFEEE;
			font-family: monospace;
			font-size: 25px;
			text-align: left;
		}
	</style>
</head>
<body>
<table><tr><td>
				<b>Username:</b></td><td><%=username%></td></tr><br>
				<tr><td><b>District: </b></td><td><%=dist%>, <%=state%></td></tr><br>
				<tr><td><b>Cultivation: </b></td><td><%=cultivation%></td></tr><br>
				<tr><td><b>Land: </b></td><td><%=land%> acres</td></tr><br>
				<tr><td><b>Annual Income</b></td><td><%=income%> per year</td></tr><br>
				<tr><td><b>Problems Facing: </b></td><td><%=problems%></td></tr><br>
				<tr><td><b>Contact:</b></td><td><%=mno%></td></tr><br>
				</table>
</body>
</html>